 
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    background-color: #fcfbee;
    
    
   
}


.content{
 margin: 25px;
}
.paralax{
    background-image: url("a122.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 60px;
    height: 200px;
    width: 100%;
    background-color: #81ca12;
    color: honeydew;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    
    
}

header{
    background-color: darkolivegreen;
    border: solid darkolivegreen 10px;
}
div.barra{
    background-color: rgb(56, 71, 28);
    
    padding: 20px;
    position: fixed;
    width: 98%;
    margin: -10px ;
}
a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    

}
ul{
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    display: flex;
    margin-left: -100px;
  
   
}

.txtoque{
    background-color: aliceblue;
    margin: 10px;
    border-radius: 25px;
    border: solid 10px aliceblue;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 70px;
   
  
    
    
}
.img{
   float: right;
  width: 25%;
  margin: 10px;
  margin-top: 15px;
  margin-right: 60px;
}
.img2{
    width: 30%;
    float: left;
    margin: 20px;
}
.paralax2{
    background-image: url("a3.avif");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -40px;
    margin-right:  -40px;
    margin-top: 70px;
    margin-bottom: 70px;
}
footer{
    width:100%;
    background-color: darkolivegreen;
    position: absolute;
    
    margin-top: 20px;
    text-align: center;
    padding: 30px;
    font-size: x-large;
    color: white;
    display: flex ;
}

a.barra:hover{
    color: #aebdbd;
    
}
.eu,.credit{
    display: inline-block;
   padding: 20px;
   align-content: center;
}
.eu{
   position: absolute;
   left: 500px;
}
.credit{
    margin-left: 1000px;

}
